.variex-regular {

    font-family: "variex", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 
.josefin-sans-regular{
    font-family: "josefin-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{

    background-color:rgb(255, 213, 154);
    font-size: 13pt;


    margin-top: 15px;
    margin-bottom:35px;

    font-family: "josefin-sans", sans-serif;
    font-weight: 400;
    font-style: normal;

}

header {

    background-color:rgb(33, 4, 31);
    text-align:center;
    padding: 15px 15px 15px 15px;
    font-size:20pt;
    color:rgb(228, 202, 225);


    font-family: "variex", sans-serif;
    font-weight: 200;
    font-style: normal;

}

a {
    color:rgb(194, 173, 195);
    font-size: 10pt;
}

main{
    color:rgb(39, 4, 41)
    align-items: center;
    text-align:center;

    
    margin-top: 5%;
    margin-bottom:5%;
    margin-left:30%;
    margin-right:30%;
}

p{
    text-align:center;
   margin-top:10px;
   margin-bottom:10px;
}

img{ 
    width:70%;
    outline-style: double;
    outline-width: 10%;
    color:rgb(232, 172, 6);
}

footer{

    background-color: rgb(33, 4, 31);
    text-align:center;
    font-size:15pt;
    color:rgb(229, 204, 231);

    padding:1%;
    margin-bottom:0px;
    margin-top:20px;

}

h2{

    color:rgb(63, 18, 60);
    font-family: "josefin-sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:18pt;

}
