:root{
    font-size: 18pt;
}

*{

    outline: 2px solid magenta;
}

body{

    margin:0;
    display: flex;
    flex-direction:column;
    gap: 20px; /* I will remove this later */
}

header, nav, main, footer{

    
}

header{

    background-color:violet;
    height: 200px;
}

nav{

    background-color:rgb(84, 17, 208);
    height: 100px;
}

main{

    background-color:rgb(232, 187, 9);
    min-height: 500px;
}

footer{

    background-color: darkgreen;
    min-height:300px;
}