/** {
    outline: 2px solid magenta;
}*/

#main-container{

    width: 100vw;
    height: 100vh;
    background-color:rgb(235, 252, 235);
  

    display: flex;
    flex-direction:row;
    
    justify-content:center;
    align-items:center;

}

#chess-board{
    width: 90vw;
    aspect-ratio:1/1;
    max-width: 90vh;
    max-height: 90vh;

    display:flex; 
    flex-direction: column; 
    
}

#chess-board > div{
    
    height:12.5%;
    
    /*background-color:blue;*/
    display:flex;
    flex-direction:row;
    
}

#seven > div:nth-child(3) {

    background-color:black;
}

#chess-board div div{



    background-color:rgb(45, 27, 2); 
    display:flex;
    justify-content: center;
    align-items: center;

    font-size: 36pt;
    color: pink;
    flex-grow:1;
    width: 12.5%;
  
}

#chess-board div:nth-of-type(even) div:nth-of-type(even){

    background-color:rgb(114, 179, 147);
}

#chess-board div:nth-of-type(odd) div:nth-of-type(odd){
    
    background-color:rgb(114, 179, 147);
}

#eight > div:nth-child(2) {
    background-color:transparent;
    height: 3.1;
    align-items:center;
    font-size: 18pt;
}

#eight > div:nth-child(1) {
    background-color:transparent;
    height: 3.1;
   
}

#eight > div:nth-child(2) {
    background-color:transparent;
    height: 3.1;
    align-items:center;
    font-size: 18pt;
}

#chess-board > div > div:first-child {
    background-color:transparent;
    width: 3.1;
    justify-content:center;
    font-size: 18pt;
}

#chess-board > #eight > div{
    background-color:transparent;
    width: 3.1;
    justify-content:center;
    font-size: 18pt;
}

#chess-board  > div:nth-of-type(odd)  >div:nth-child(1){

    background-color:transparent;
   
}