:root{

    font-size: 24pt;
}

div{

    width: 150px;
    height:50px;
    
    outline: 1px solid black;

    display: flex;

    flex-direction: row;

    justify-content: center;
    align-items:center;
}

div:nth-of-type(1) {

    background-color: brown;
    box-sizing: border-box; 
    padding: 200px;
    display:none;
}

body{

    margin:0;
}

div:nth-of-type(2) {

    background-color: cadetblue;
    box-sizing:content-box;

    padding: 200px;
    width: 100vw;
}