h1 {

    background-color:rgb(250, 218, 240);
    font-size: 30pt;
    font-family: Helvetica;

    padding: 20px;
    text-align:center;
    color:rgb(175, 12, 140);
}

p {
    font-family:Helvetica;
    font-size: 15pt;
    color:darkred;
    text-align:center;

}

a {
    color:rgb(92, 0, 72);
    text-align: center;
}